<!-- build:js(.) /public/dist/js/vendor.js -->
<script src="/public/src/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/src/bower_components/underscore/underscore-min.js"></script>
<script src="/public/src/bower_components/backbone/backbone.js"></script>
<script src="/public/src/bower_components/backbone.routeFilter/dist/backbone.routefilter.min.js"></script>
<script src="/public/src/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<!-- endbuild -->

<!-- build:js(.) /public/dist/js/app.js -->
<!-- common -->
<script src="/public/src/app.js"></script>
<script src="/public/src/utils/providers.js"></script>
<script src="/public/src/utils/baseview.js"></script>
<script src="/public/src/utils/viewmanager.js"></script>
<script src="/public/src/utils/spinner.js"></script>
<script src="/public/src/utils/searcher.js"></script>
<script src="/public/src/utils/user.js"></script>
<script src="/public/src/utils/sender.js"></script>
<!-- pages -->
<script src="/public/src/home/index.js"></script>
<script src="/public/src/home/user.js"></script>
<script src="/public/src/providerselector/index.js"></script>
<!-- router -->
<script src="/public/src/router.js"></script>
<!-- endbuild -->